* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}

:root {
  font-size: 10px;

  /* colors */
  --bg-body: linear-gradient(45deg, rgba(195,37,137,1) 5%, rgb(5, 5, 32) 51%);
  --pink: rgb(195, 37, 137);
  --gray: rgb(142, 142, 142);
  --white: hsl(0, 0%, 100%);
  --glass: rgba(255, 255, 255, 0.07);

}

.change-color {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 2rem;
  width: 5rem;
  border-radius: 1rem;
  box-shadow: inset 0 .2rem 1.5rem rgba(0, 0, 0, .2),
              inset 0 0.2rem 0.2rem rgba(0, 0, 0, .2),
              inset 0 -0.1rem 0.1rem rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, .1);
  background: #222;
  cursor: pointer;
}

.change-color .button {
  width: 50%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(to bottom, #050520 , #222);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, .5),
              inset 0 0.1rem 0.1rem rgba(255, 255, 255, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.change-color .button .point{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 .1rem white,
              0 0 .3rem white,
              0 0 .6rem white;
}

.change-color .button .--pink {
  background: var(--pink);
  box-shadow: 0 0 .1rem var(--pink),
              0 0 .3rem var(--pink),
              0 0 .6rem var(--pink);
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-body);
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  font-weight: bold;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.phone-image {
  height: 70rem;
}

.instagram-continue {
  min-height: 50rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.group {
  background: var(--glass);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-radius: .5rem;
  backdrop-filter: blur(1rem);
  box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, .5);
}

.group:nth-child(1) {
  min-height: 30rem;
  padding: 2rem 0;
}

.instagram-logo {
  height: 5rem;
  filter: drop-shadow(0 0 .1rem white);
}

.profile-photo {
  width: 8.6rem;
  height: 8.6rem;
  border: 1px solid var(--pink);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-login {
  background: var(--pink);
  color: var(--white);
  border-radius: .3rem;
  padding: .8rem 1rem;
}

.instagram-logout {
  color: var(--pink);
}

.not-account {
  color: var(--gray);
}

.not-account:nth-child(1) {
  margin-bottom: .5rem;
}

.link-blue {
  color: var(--pink);
}

.get-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-app-text {
  padding: 1rem 2rem;
  color: var(--white);
}

.app-download-wrapper {
  display: flex;
  gap: 1rem;
}

.app-download {
  width: 13.5rem;
  height: 4rem;
  background-size: cover;
  border-radius: .5rem;
}

.app-download:nth-child(1) {
  background-image: url("../images/apple-button.png");
  border-right: .1rem solid var(--white);
}

.app-download:nth-child(2) {
  background-image: url("../images/googleplay-button.png");
}

@media (max-width: 1200px) {
  .instagram-wrapper {
    width: 90%
  }
}

@media (max-width: 810px) {
  :root {
    --bg-body: linear-gradient(10deg, rgba(195,37,137,1), rgba(5,5,32,1) 35%);
  }

  .instagram-wrapper {
    width: 90%;
    justify-content: center;
  }

  .instagram-phone {
    display: none;
  }

  .instagram-continue {
    width: 70%;
  }
}

@media (max-width: 610px) {
  .instagram-continue {
    width: 100%;
  }
}